.mini-chilla-container {
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.88);
  width: 1200px;
  height: 800px;
  padding: 2rem;
}

.mini-chilla-title {
  font-size: 96px;
  display: block;
}

.mini-chilla-subtitle {
  font-size: 36px;
}

.nft-item-box {
  display: flex;
  flex-wrap: wrap;
}

.nft-button-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .mini-chilla-container {
    width: 90%;
    overflow: auto;
  }

  .nft-item-box {
    flex-direction: column;
  }

  .mini-chilla-title {
    font-size: 36px;
  }

  .mini-chilla-subtitle {
    font-size: 24px;
  }

  .nft-button-box {
    flex-direction: column;
  }
}