.homeList {
  width: 100%;
  min-width: max-content;
  background: rgba(0, 0, 0, 0.32);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  text-align: center;
}

@media screen and (max-width:768px) {
  .homeList {
    margin-top: 2rem;
    min-width: auto;
  }

  .homeList .title {
    display: flex;
    flex-direction: column;
  }

  .btn-claim-all {
    position: relative;
    color: white !important;
  }

  .large-margin-top {
    margin-top: 4rem;
  }
}

.homeList .title {
  position: relative;
  text-align: center;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  font-size: 2.25rem; /* 36px */
  padding: 0.25rem; /* 4px */
}

.homeList > .container {
  display: grid;
  width: max-content;
  grid-template-columns: 1fr 1fr 1fr 1fr !important;
  margin-inline: auto;
  gap: 2.75rem; /* 44px */
  padding: 2.75rem; /* 44px */
  position: relative;
}

.homeList .container .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.625rem; /* 10px */
  width: 13.75rem; /* 220px */
  background: rgba(11, 7, 194, 0.33);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 1.5rem; /*24px */
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.homeList .container .arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

@media screen and (min-width:768px) {
  .btn-claim-all {
    position: absolute !important;
    right: 0;
    color: white !important;
  }
}